
{{ define "main" }}
  <div class="main" role="main">
    <article class="article">

      {{ with .Params.image }}<img src="{{ . }}" class="article-image" />{{ end }}
      {{ with .Params.series }}<p class="article-title-series"><a href="{{ "/" | relURL }}series/{{ index . 0 | urlize }}/">{{ index . 0 }}</a>&nbsp;/</p>{{ end }}
      {{ if eq .Section "events" }}<a href="index.ics" class="singleicslink">Add to calendar</a>{{ end }}

      {{ partial "toc.html" . }}

      {{ if eq .Section "events" }}
        <h2>{{ .Title }}</h2>
    		{{- with .Params.start}}
    		<div>
    			<strong>Datum:</strong> {{ dateFormat "2006-01-02 15:04" . }}
    		</div>
    		{{end}}
    		{{- with .Params.location}}
    		<div>
    			<strong>Ort:</strong> {{ . }}
    		</div>
    		{{end}}
      {{ end }}
      
      {{ .Content }}

    </article>

    {{ partial "share.html" . }}

    {{- if and .Site.Config.Services.Disqus.Shortname (or (not (isset .Params "comments")) (eq .Params.comments nil) .Params.comments) }}
    <div class="disqus-comments">
      {{ template "_internal/disqus.html" . }}
    </div>
    {{- end }}
  </div>
{{ end }}
